{{!-- views/auth/login.hbs --}}

<div id="form">
  <h2>Login</h2>

  <form action="/login" method="POST">

    <label for="username"> Username</label>
      <input type="text" name="username" placeholder="ironhacker" />
    

    <label for="password">Password</label>
      <input type="password" name="password" placeholder="********" />
    

    <button type="submit">Login</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
