{{#if user}}
  <h1>Welcome, {{ user.username }}!</h1>
  <h2>You made to the private page!!!</h2>
  <img src="https://dazedprod.blob.core.windows.net/dazed-prod/1150/3/1153808.gif"/>

{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}